node_modules/
.env

# Ignorar bases de datos locales (Esto evita que tus pruebas locales borren lo de producción)
store/data/products.json
store/data/home.json

# Ignorar imágenes subidas localmente
store/uploads/*
